:root {
  --blue: rgb(0, 127, 136);
  --white: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  height: 80px;
  background-color: var(--blue);
  color: var(--white);
}
.menu {
  list-style-type: none;
  display: flex;
  color: var(--white);
  font-size: 1.2vw;
}
.menu-item {
  margin-right: 30px;
}
.details {
  display: flex;
  justify-content: space-around;
  padding: 50px 100px;
  flex-wrap: wrap;
}
.details img{
  width: 48%;
  flex: 50%;
}
.details-text{
  width: 48%;
  flex: 0.5 0.5 48% ;
}
.details-text h2 {
  font-size: 5em;
}
.details-text p {
  font-size: 2rem;
}
.button {
  margin-top: 20px;
}
.button button {
  margin-right: 20px;
  padding: 15px 15px;
  background-color: rgb(80, 120, 252);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.details-image {
  border-radius: 50%;
}
.education {
  background-color: var(--blue);
  color: var(--white);
  padding: 3vw 6vw;
}
.edu-heading {
  font-size: 2.5rem;
}
.academic {
  display: flex;
  align-items: center;
}
.details-head {
  font-size: 2rem;
}
.details-desc {
  font-size: 1.5rem;
}
.academic {
  padding: 20px 0;
}
.academic img {
  margin-right: 20px;
}
.project-section {
  background-color: var(--blue);
  color: var(--white);
  padding: 3vw 6vw;
}
.projects {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.single-proj {
  width: 20vW;
  height: 350px;
  padding: 2vw 1vw;
  border: 2px solid var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-proj img{
  width:70%;
}
.single-proj:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 white;
}
.single-proj h2 {
  margin-top: 10px;
}
.single-proj .live {
  margin-top: 10px;
  background-color: rgb(134, 7, 219) !important;
  border: none;
  color: var(--white);
  padding: 2% 4%;
  border-radius: 5px;
}
/*//////////////  MEDIA QUERIES  //////////////*/

@media only screen and (max-width: 1250px) {
.menu {
  font-size: 1.5vw;
}
.projects{
  display: flex;
  
}
.single-proj{
  flex-wrap: wrap;
  flex: 1 1 7vw;
}
}
@media only screen and (max-width: 1450px) {
.single-proj {
  height: 300px;
}
}
@media only screen and (max-width: 1050px) {
.details img{
  display: none;
}
.details-text h2 {
  font-size: 5vw;
  text-align: center;
}
.details-text p {
  font-size: 3vw;
  text-align: center;
}
.button{
  display: flex;
  justify-content: center;
}

}
@media only screen and (max-width: 850px) {
.menu {
  font-size: 2vw;
}
.details-head {
  font-size: 1.8rem;
}
.details-desc {
  font-size: 1.3rem;
}
.button button{
  font-size: 0.8rem;
}
}
@media only screen and (max-width: 600px) {

.details-head {
  font-size: 1.6rem;
}
.details-desc {
  font-size: 1.1rem;
}
.edu-heading{
  text-align: center;
}
.academic img {
  width: 25%;
}
.button button{
  font-size: 0.6em;
}
}